<% provide(:title, @user.username) %>
<div id='user-profile-form' class='col-sm-10 col-md-8'>
  <h3><%= @user.username %></h3>
  <hr class='my-4'>
  <% if @containers.present? %>
    <h5>Containers</h5>
    <%= column_chart @data %>
    <%= render partial: 'containers/container_form', collection: @containers %>
  <% end %>
</div>