<% if error_obj.errors.any? %>
  <div class='alert alert-danger' role='alert'>
    <ul>
      <li><%= pluralize(error_obj.errors.count, "error") %> prohibited this object from being saved: not successfully</li>
      <% error_obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul> 
  </div>
<% end %>