<div class='modal fade' id='step1Modal' data-backdrop='static' data-keyboard='false' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>
          Create Containers
        </h5>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <h6>
          1: After signup or signin, you can access to create the contaner from the sidebar.
        </h6>
        <%= image_tag '/assets/step1.png', size: '270x300'%>
        <hr>
        <h6>
          2: When you create the container, you can choose Fridge or Freezer as container's type.
        </h6>
        <%= image_tag '/assets/step2.png', size: '350x400'%>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>