<div class='modal fade' id='step3Modal' data-backdrop='static' data-keyboard='false' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>
          アラートを確認
        </h5>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <h6>
          1: 飲食料品の登録が完了したら、ホームに戻り ’消費期限をチェック’ を押して消費期限を確認しましょう。 
        </h6>
        <%= image_tag 'step3_1.jpg', size: '400x300'%>
        <hr>
        <h6>
          2: アラートには "Expired", "Warning", "Recommend" の3種類が存在します。
        </h6>
        <%= image_tag 'step3_2.jpg', size: '400x420'%>
        <hr>
        <h6>
          3: 消費期限が、すでに切れているものは "Expired" で表示されます。
        </h6>
        <hr>
        <h6>
          4: 消費期限が、消費期限をチェックした日と同じ場合は "Warning" で表示されます。
        </h6>
        <hr>
        <h6>
          5: 消費期限が切れるまで、あと4日のものが "Recommend" で表示されます。
        </h6>
        <hr>
        <h6 class='text-danger'>注意:</h6>
        <h6>
          既存のアラートを確認する場合、サイドバーの 'アラート一覧' からアクセスしてください。
        </h6>
        <h6>
          アラートを更新する際はホームにあるボタンを押してください。
        </h6>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>