<div class='modal fade' id='step1Modal' data-backdrop='static' data-keyboard='false' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>
          コンテナを作成
        </h5>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <h6>
          1: ユーザー登録及びログイン完了後、サイドバーからコンテナ作成を選択してください。
        </h6>
        <%= image_tag 'step1.jpg', size: '270x300'%>
        <hr>
        <h6>
          2: コンテナを作成する際は、「冷蔵庫」と「冷凍庫」のどちらか２種類を指定することができます。
        </h6>
        <%= image_tag 'step2.jpg', size: '350x400'%>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>