<div class='modal fade' id='step2Modal' data-backdrop='static' data-keyboard='false' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>
          飲食料品の登録
        </h5>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <h6>
          1: コンテナを作成後、サイドバーからコンテナ一覧にアクセスすることができます。
        </h6>
        <%= image_tag 'step3.jpg', size: '270x350'%>
        <hr>
        <h6>
          2: If container-form displayed successfully, please push the button "Create Product".
        </h6>
        <%= image_tag 'step4.jpg', size: '300x300'%>
        <hr>
        <h6>
          3: In the form, you need to fill the Name, Quantity, Production_Date and Expiration_Date at least.
        </h6>
        <%= image_tag 'step5.jpg', size: '270x400'%>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>