<% provide(:title, 'Home') %>
<% if user_signed_in? && current_user.products.present? %>
  <div class='home-topic'>
    <h4>Let's check the Expiration Date</h4>
    <%= button_to 'Check Expiration Date', user_deadline_alerts_path(current_user), class: 'btn btn-primary' %>
  </div>
<% elsif user_signed_in? %>
  <div class='home-topic col-sm-10 col-md-8'>
    <h3>You haven't create any products</h3>
    <p>please create products</p>
    <button type='button' class='btn btn-lg btn-primary' disabled>Check Expiration Date</button>
  </div>
<% else %>
  <div class='jumbotron'>
    <h1 class='display-4'>Welcome to Freedger</h1>
    <p class='lead'>This app can check products' expiration date to create containers as Fridge and Freezer.</p>
    <hr class='my-4'>
    <p>Before using this, you need to login or signup for user</p></br>
    <p>When you know about this app more, please check 'Learn more...'</p></br>
    <%= button_to 'Signup Here', new_user_registration_path, method: :get, class: 'btn btn-success btn-lg btn-block' %></br>
    <%= button_to 'Login Here', new_user_session_path, method: :get, class: 'btn btn-primary btn-lg btn-block' %></br>
    <%= button_to 'Learn more...', about_path, method: :get, class: 'btn btn-outline-secondary btn-lg' %>
  </div>
<% end %>