<div id='container-products'>
  <% products.each do |product| %>
    <%= link_to user_container_product_path(product.user_id, product.container_id, product), class: 'link-to-do' do %>
      <div class='row' id='products-in-c'>
        <h5 class='col col-md-8 col-lg-10' id='pr-name-in-c-shw'>
          <%= product.name.truncate(15) %>
        </h5>
        <h5 class='col col-md-4 col-lg-2' id='pr-number-in-c-shw'>
          <i class='fas fa-times fa-sm'></i><%= product.number %>
        </h5>
      </div>
    <% end %>
  <% end %>
  <div id='pagenation-zone'>
    <%= paginate products, remote: true %>
  </div>
</div>