<% provide(:title, 'All Containers') %>
<h1>Containers#index</h1>
<p>Find me in app/views/containers/index.html.erb</p>
<% @containers.each do |container| %>
  <br>----------------------------</br>
  <%= link_to user_container_path(@user, container) do %>
    <h2><%= container.name %></h2>
  <% end %>
  <%= container.position %>
<% end %>