<% provide(:title, "#{@user.username} - #{@container.name}") %>
<div id='card-form' class='col-sm-10 col-md-8'>
  <%= render partial: 'containers/container_form', locals: {user: @user, container: @container} %>
  <% if @container.products.present? %>
    <div id='products-box'>
      <h4><%= "Products in #{@container.name}" %></h4>
      <%= render 'container_products', products: @products %>
    </div>
  <% end %>
</div>