<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= deadline.action %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= deadline.container.position %></li>
    <li class="list-group-item"><%= deadline.product.name %></li>
    <li class="list-group-item"><%= deadline.product.product_expired_at %></li>
  </ul>
</div>