<% provide(:title, 'Results') %>
<% @expired_deadline_alerts.each do |deadline| %>
  <div class='deadline_expired'>
    <%= render 'deadline_fields', deadline: deadline %>
  </div>
<% end %>
<% @warning_deadline_alerts.each do |deadline| %>
  <div class='deadline_warning'>
    <%= render 'deadline_fields', deadline: deadline %>
  </div>
<% end %>
<% @recommend_deadline_alerts.each do |deadline| %>
  <div class='deadline_recommend'>
    <%= render 'deadline_fields', deadline: deadline %>
  </div>
<% end %>