<% provide(:title, 'Results') %>
<% if @alerts.present? %>
  <div class='col-md-10 col-lg-10 alert-chart'>
    <%= pie_chart @data, colors: ['red', 'orange', '#83e698'] %>
  </div>
  <%= render 'deadline_lists', alerts: @alerts %>
<% else %>
  <h5>No Alerts found</h5>
<% end %>