// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul, li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
}
.alert{
  margin-bottom: 0;
} 

/* radio button */
.radio-place{
  margin: 15px;
}

/* header */
.navbar-dark .navbar-toggler{
  border-color: rgba(255, 255, 255, 0.3);
  padding: 1px 12px;
  &:hover{
    border-color: rgba(255, 255, 255, 0.8);
  }
}
#navbarDropdown{
  color: white;
}
.breadcrumb-height{
  padding: 0.7rem 1rem;
}
.breadcrumb-title{
  margin: 0;
}
.header-links{
  color: white;
  margin: 0 16px;
  padding: 8px 0;
  position: relative;
  display: inline-block;
  text-decoration: none;
  &:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
  }
  &:hover{
    color: white;
  }
  &:hover::after {
    transform: scale(1, 1);
  }
}