<div id='products-lists'>
  <div class='row row-cols-sm-6 row-cols-md-4' id='prd-indx-lists'>
    <% products.each do |product| %>
      <div class='col-sm-4 col-md-3'>
        <%= link_to user_container_product_path(product.user_id, product.container_id, product), class: 'link-to-do' do %>
          <div id='prd-indx-info'>
            <p><%= product.name.truncate(15) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id='pagenation-zone'>
    <%= paginate products, remote: true %>
  </div>
</div>