<% provide(:title, 'All Products') %>
<div class='col' id='prd-indx-form'>
  <h5><%= @user.username %> 's Products</h5>
  <% if params[:tag_name] %>
    <h6><%= "With Tag: #{params[:tag_name]}" %></h6>
  <% elsif params[:search]%>
    <h6><%= "Including keyword: #{params[:search]}" %></h6>
  <% end %>
  <% if @products.present? %>
    <%= render 'products_lists', products: @products %>
  <% else %>
    <h4>No products found</h4>
  <% end %>
</div>