<% provide(:title, "#{@user.username} - #{@product.name}") %>
<%= "#{@container.position}: #{@container.name}" %>
<br><%= "作成日: #{@product.product_created_at}" %></br>
<%= "消費期限: #{@product.product_expired_at}" %>
<h2><%= link_to 'Edit product', edit_user_container_product_path(@user, @container, @product) %></h2>