<nav aria-label='breadcrumb'>
  <ol class='breadcrumb breadcrumb-height'>
    <li class='breadcrumb-item active' aria-current='page'>
      <h4>Freedger - <%= yield(:title) %></h4>
    </li>
  </ol>
</nav>