<footer class='site-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 col-md-6'>
        <h6>About</h6>
        <p class='text-justify'>Freedgerは、冷蔵庫及び冷凍庫内にある
          食品や飲料の消費期限を管理するためのアプリです。 Freedger can check 
          products' expiration date to create containers as Fridge and Freezer.
        </p>
      </div>
      <div class='col-xs-6 col-md-3'>
        <h6>Quick Links</h6>
        <ul class='footer-links'>
          <li><%= link_to 'About', about_path %></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 col-sm-6 col-xs-12'>
        <p class='copyright-text'>2020 Freedger.
        </p>
      </div>
    </div>
  </div>
</footer>